/* ESTILOS GLOBAIS
-------------------------------------------------- */
/* Padding abaixo do footer e texto mais suave no <body> */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZA O CAROUSEL
-------------------------------------------------- */

/* Classe base do carousel */
.carousel {
  margin-bottom: 4rem;
}

/* J? que usamos posicionamento de imagens, precisaremos fazer alguns ajustes na legenda */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declaramos alturas, devido ao posicionamento do elemento img */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* CONTE?DO DO MARKETING
-------------------------------------------------- */

/* Alinha, centralmente, o texto dentro das tr?s colunas abaixo do carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featrurezinhas
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Espa?a o elemento <hr> mais */
}

/* Afina os cabe?alhos de marketing */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* CSS RESPONSIVE
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Aumenta o tamanho do conte?do do carousel */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}